@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Inter;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.video-container {
  width: 45%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  width: 55%;
  display: flex;
  justify-content: center;
}
.text-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
i {
  text-align: center;
  font-size: 5rem;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
.button {
  position: absolute;
}
.modal-window-closed {
  position: fixed;
  display: none;
}
video {
  width: 70%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.modal-window-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
}
.modal-window-open button {
  background-color: white;
  box-shadow: gray 0px 0px 12px;
  width: 7rem;
  height: 3rem;
  border-radius: 3px;
  margin-top: 2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.modal-window-open button:hover {
  background-color: red;
  color: white;
}

/* Mobile */
@media (max-width: 840px) {
  body {
    flex-direction: column;
  }
  .video-container {
    width: 100%;
    height: 45vh;
  }
  .text-container {
    width: 100%;
  }
  .text-content {
    padding: 0 1rem;
    width: 100%;
  }

  video {
    width: 100%;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
